In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ponta Do Sol,PT,2022-10-09 19:42:14,32.6667,-17.1000,70.43,55,69,4.63
1,1,Vaini,TO,2022-10-09 19:39:24,-21.2000,-175.2000,73.56,94,100,11.50
2,2,Powell River,CA,2022-10-09 19:45:34,49.8496,-124.5361,66.07,82,20,8.05
3,3,Busselton,AU,2022-10-09 19:42:09,-33.6500,115.3333,55.06,79,100,11.77
4,4,Kapaa,US,2022-10-09 19:47:12,22.0752,-159.3190,83.10,66,0,1.01

In [3]:
# get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Next, create the heatmap for the maximum temperature. The general syntax for creating a heatmap is as follows.
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp]) #[max(0,temp) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Adding to the avove: , dissipating=False, max_intensity=300, point_radius=4
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Heatmap of % humidity

In [10]:

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of percent Cloudiness

In [11]:
# Heatmap of percent Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the percent Cloudiness.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of temperature

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the Wind Speed.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Back to the app we are creating - preferred temperatures

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kapaa,US,2022-10-09 19:47:12,22.0752,-159.3190,83.10,66,0,1.01
5,5,Ligayan,PH,2022-10-09 19:47:12,4.6533,119.4706,82.85,73,100,5.55
7,7,Marabba,SD,2022-10-09 19:47:13,12.3500,32.1833,78.12,69,2,7.92
9,9,San Borja,BO,2022-10-09 19:47:13,-14.8167,-66.8500,81.90,69,98,3.67
11,11,Hithadhoo,MV,2022-10-09 19:47:14,-0.6000,73.0833,81.48,76,100,15.95
12,12,Puerto Ayora,EC,2022-10-09 19:42:18,-0.7393,-90.3518,76.96,72,74,12.62
16,16,Serro,BR,2022-10-09 19:47:15,-18.6047,-43.3794,77.97,61,58,1.03
22,22,Avarua,CK,2022-10-09 19:43:28,-21.2078,-159.7750,75.25,73,75,16.11
29,29,Acarau,BR,2022-10-09 19:47:18,-2.8856,-40.1200,81.50,76,47,21.92
31,31,Tingo Maria,PE,2022-10-09 19:47:18,-9.2895,-76.0088,81.91,71,97,1.99

In [15]:
preferred_cities_df.count()

City_ID       189
City          189
Country       188
Date          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
dtype: int64

# Back to the app - hotels

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4          Kapaa      US     83.10  22.0752 -159.3190
5        Ligayan      PH     82.85   4.6533  119.4706
7        Marabba      SD     78.12  12.3500   32.1833
9      San Borja      BO     81.90 -14.8167  -66.8500
11     Hithadhoo      MV     81.48  -0.6000   73.0833
12  Puerto Ayora      EC     76.96  -0.7393  -90.3518
16         Serro      BR     77.97 -18.6047  -43.3794
22        Avarua      CK     75.25 -21.2078 -159.7750
29        Acarau      BR     81.50  -2.8856  -40.1200
31   Tingo Maria      PE     81.91  -9.2895  -76.0088

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(15)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kapaa,US,83.10,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Ligayan,PH,82.85,4.6533,119.4706,
7,Marabba,SD,78.12,12.3500,32.1833,
9,San Borja,BO,81.90,-14.8167,-66.8500,
11,Hithadhoo,MV,81.48,-0.6000,73.0833,Scoop Guest House
12,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
16,Serro,BR,77.97,-18.6047,-43.3794,Pousada Mariana
22,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
29,Acarau,BR,81.50,-2.8856,-40.1200,castelo pizzaria
31,Tingo Maria,PE,81.91,-9.2895,-76.0088,Hospedaje Paraíso
34,Mpulungu,ZM,80.85,-8.7623,31.1141,Chela moche guest house
43,Atuona,PF,76.96,-9.8000,-139.0333,Villa Enata
46,Sechura,PE,75.63,-5.5569,-80.8222,Hospedaje Costa Bella
52,Kapaa,US,83.10,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
53,Ligayan,PH,82.85,4.6533,119.4706,

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# d1 tag is description list (dl)
# this is explained here: https://courses.bootcampspot.com/courses/1903/pages/6-dot-5-4-map-vacation-criteria?module_item_id=705386
info_box_template = """
<dl> 
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
preferred_cities_df.isnull().sum()

In [ ]:
preferred_cities_df.notnull().sum()

In [ ]:
preferred_cities_df.counts()